<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RamblerRides.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF67D9971BF57D17003E898C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF67D9AB1BF57D17003E898C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF67D9B61BF57D17003E898C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
